<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-primary">
      </div>
    </div>
    <div class="row">
        <p> I'm Cara!  I am a data scientist and quantitative researcher with a PhD in political science and an MS in computer science from The Ohio State University. I also hold a BS in Mathematics from the University of Minnesota.
          
          I have experience with machine learning, natural language processing, network science, computer vision, and data visualization. I’m passionate about solving problems which benefit others. Previously, I worked for the Biden-Harris-Walz campaign. 
        </p>
      </div>

      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://www.dropbox.com/scl/fi/r5y6cnva0e3v13p42ee1o/Nix_resume.pdf?rlkey=ph27v6s1csk9p9cax97o7iwtv&st=xd497qhb&dl=0" class="btn btn-lg btn-outline">
          View Resume <!--  <i class="fa fa-download"></i> -->
        </a>
      </div>
    </div>
  </div>
</section>
