<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-primary">
      </div>
    </div>
    <div class="row">
        <p> Hi, I'm Cara!  I am a data scientist and quantitative researcher with a PhD in political science and an MS in computer science from The Ohio State University. I also hold a BS in Mathematics from the University of Minnesota.
          
          I have experience with machine learning, natural language processing, network science, computer vision, and data visualization. I’m passionate about solving problems which benefit others. Previously, I worked for the Biden-Harris-Walz campaign. 
        </p>
      </div>

      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://www.dropbox.com/scl/fi/gr6suhn37q2yj9x6vl6lv/Cara_Nix_resume.pdf?rlkey=o9q08iy52fwc8x3hb7tjtov01&st=lwr32y3i&dl=0" class="btn btn-outline">
          View Resume <!--  <i class="fa fa-download"></i> -->
        </a>
      </div>
    </div>
  </div>
</section>
