<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
        <p> I'm Cara!  I am a data scientist and quantitative researcher with a PhD in political science and an MS in computer science from The Ohio State University. I also hold a BS in Mathematics from the University of Minnesota. I have experience with machine learning, natural language processing, network science, computer vision, and data visualization. I’m passionate about solving problems which benefit others. Previously, I worked for the Biden-Harris-Walz campaign. I obtained my Ph.D. in Political Science and M.S. in Computer Science from The Ohio State University. I did my undergrad at the University of Minnesota where I got a B.S. in Mathematics and  B.S. in Political Science.
        </p>
      </div>

      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> Download Theme
        </a>
      </div>
    </div>
  </div>
</section>
